h1 {
  text-shadow: 3px 3px 2px rgba(151, 151, 151, .8);
}

.spacing {
  min-height: 15px;
}

#works-offline-alert {
  box-shadow: 1px 1px 3px #555;
}

#footer {
  font-size: 12px;
  margin-top: 30px;
  a {
    color: #f43492;
  }
}
